{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-8 col-lg-7 q-gutter-y-md">
    <q-card>
      <q-card-section>
        {% raw %}
        <h6 
          v-if="selectedAccount"
          class="text-subtitle1 q-my-none"
          style="text-align: center; margin: 4px;"
        >
          Address: {{ selectedAccount }}<br/>
          Balances: {{ userBalances }}
        </h6>
        {% endraw %}
        <q-btn unelevated color="primary" id="connectButton" @click="onConnect" :disabled="selectedAccount"
          >Connect Wallet</q-btn
        >
        <q-btn unelevated color="primary" :disabled="!selectedAccount" @click="formDialog.show = true"
          >Create Swap</q-btn
        >
      </q-card-section>
    </q-card>
  </div>

  <div class="col-12 col-md-4 col-lg-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">
          {{SITE_TITLE}} swap extension
        </h6>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list> {% include "swap/_api_docs.html" %} </q-list>
      </q-card-section>
    </q-card>
  </div>

  <q-dialog v-model="formDialog.show" position="top">
    <q-card class="q-pa-lg q-pt-xl lnbits__dialog-card">
      <q-form @submit="createSwap" class="q-gutter-md">
        <q-select
          filled
          dense
          emit-value
          v-model="formDialog.data.wallet"
          :options="g.user.walletOptions"
          label="Wallet *"
        >
        </q-select>
        <q-input
          filled
          dense
          v-model.trim="formDialog.data.url"
          type="url"
          label="Redirect URL *"
        ></q-input>
        <q-input
          filled
          dense
          v-model.trim="formDialog.data.memo"
          label="Title *"
          placeholder="LNbits paywall"
        ></q-input>
        <q-input
          filled
          dense
          autogrow
          v-model.trim="formDialog.data.description"
          label="Description"
        ></q-input>
        <q-input
          filled
          dense
          v-model.number="formDialog.data.amount"
          type="number"
          label="Amount (sat) *"
          hint="This is the minimum amount users can pay/donate."
        ></q-input>
        <q-list>
          <q-item tag="label" class="rounded-borders">
            <q-item-section avatar>
              <q-checkbox
                v-model="formDialog.data.remembers"
                color="primary"
              ></q-checkbox>
            </q-item-section>
            <q-item-section>
              <q-item-label>Remember payments</q-item-label>
              <q-item-label caption
                >A succesful payment will be registered in the browser's
                storage, so the user doesn't need to pay again to access the
                URL.</q-item-label
              >
            </q-item-section>
          </q-item>
        </q-list>
        <div class="row q-mt-lg">
          <q-btn
            unelevated
            color="primary"
            :disable="formDialog.data.amount == null || formDialog.data.amount < 0 || formDialog.data.url == null || formDialog.data.memo == null"
            type="submit"
            >Create paywall</q-btn
          >
          <q-btn v-close-popup flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>
</div>

<!-- <q-card>
  <q-card-section>
    <h5 class="text-subtitle1 q-mt-none q-mb-md">
      Frameworks used by {{SITE_TITLE}}
    </h5>
    <q-list>
      <q-item
        v-for="tool in tools"
        :key="tool.name"
        tag="a"
        :href="tool.url"
        target="_blank"
      >
        {% raw %}
        <q-item-section>
          <q-item-label>{{ tool.name }}</q-item-label>
          <q-item-label caption>{{ tool.language }}</q-item-label>
        </q-item-section>
        {% endraw %}
      </q-item>
    </q-list>
    <q-separator class="q-my-lg"></q-separator>
    <p>
      A magical "g" is always available, with info about the user, wallets and
      extensions:
    </p>
    <code class="text-caption">{% raw %}{{ g }}{% endraw %}</code>
  </q-card-section>
</q-card> -->
{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script type="text/javascript" src="https://unpkg.com/web3@1.2.11/dist/web3.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/web3modal@1.9.0/dist/index.js"></script>
<script type="text/javascript" src="https://unpkg.com/evm-chains@0.2.0/dist/umd/index.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/@walletconnect/web3-provider@1.2.1/dist/umd/index.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/fortmatic@2.0.6/dist/fortmatic.js"></script>
<!-- This is our example code -->
<!-- <script type="text/javascript" src="./example.js"></script> -->
<script>
  new Vue({
    el: '#vue',
    mixins: [windowMixin],
    data: function () {
      return {
        tools: [],
        formDialog: {
          show: false,
          data: {
            remembers: false
          }
        },
        web3Modal: null,
        provider: null,
        selectedAccount: null,
        userBalances: {},
        sometest: 'sometest',
      }
    },
    created: function () {
      var self = this

      this.initScripts()

      // axios is available for making requests
      // axios({
      //   method: 'GET',
      //   url: '/swap/api/v1/tools',
      //   headers: {
      //     'X-swap-header': 'not-used'
      //   }
      // }).then(function (response) {
      //   self.tools = response.data
      // })
    },
    methods: {
      createSwap: function () {
        console.log('createSwap!')
      },
      initScripts: function () {

        // web3modal
        const Web3Modal = window.Web3Modal.default
        const WalletConnectProvider = window.WalletConnectProvider.default
        const Fortmatic = window.Fortmatic
        const evmChains = window.evmChains

        // Check that the web page is run in a secure context,
        // as otherwise MetaMask won't be available
        // if(location.protocol !== 'https:') {
        //   document.querySelector("#connectButton").setAttribute("disabled", "disabled")
        //   return
        // }

        // Tell Web3modal what providers we have available.
        // Built-in web browser provider (only one can exist as a time)
        // like MetaMask, Brave or Opera is added automatically by Web3modal
        const providerOptions = {
          walletconnect: {
            package: WalletConnectProvider,
            options: {
              infuraId: "8043bb2cf99347b1bfadfb233c5325c0",
            }
          },

          fortmatic: {
            package: Fortmatic,
            options: {
              key: "pk_test_391E26A3B43A3350"
            }
          }
        }

        web3Modal = new Web3Modal({
          cacheProvider: false, // optional
          providerOptions, // required
          disableInjectedProvider: false, // optional. For MetaMask / Brave / Opera.
        })

        // console.log("Web3Modal instance is", web3Modal)
      },
      /**
       * Connect wallet button pressed.
       */
      onConnect: async function () {

        console.log("Opening a dialog", web3Modal);
        try {
          this.provider = await web3Modal.connect();
        } catch(e) {
          console.log("Could not get a wallet connection", e);
          return;
        }

        // Subscribe to accounts change
        this.provider.on("accountsChanged", (accounts) => {
          this.fetchAccountData();
        });

        // Subscribe to chainId change
        this.provider.on("chainChanged", (chainId) => {
          this.fetchAccountData();
        });

        // Subscribe to networkId change
        this.provider.on("networkChanged", (networkId) => {
          this.fetchAccountData();
        });

        await this.refreshAccountData();
      },
      /**
      * Disconnect wallet button pressed.
      */
      onDisconnect: async function () {

        console.log("Killing the wallet connection", this.provider);

        // TODO: Which providers have close method?
        if(this.provider.close) {
          await this.provider.close();

          // If the cached provider is not cleared,
          // WalletConnect will default to the existing session
          // and does not allow to re-scan the QR code with a new wallet.
          // Depending on your use case you may want or want not his behavir.
          await this.web3Modal.clearCachedProvider();
          this.provider = null;
        }

        this.selectedAccount = null;

        // Set the UI back to the initial state
        // document.querySelector("#prepare").style.display = "block";
        // document.querySelector("#connected").style.display = "none";
      },
      /**
       * Kick in the UI action after Web3modal dialog has chosen a provider
       */
      fetchAccountData: async function () {

        // Get a Web3 instance for the wallet
        const web3 = new Web3(this.provider);

        // console.log("Web3 instance is", web3);

        // Get connected chain id from Ethereum node
        const chainId = await web3.eth.getChainId();
        // Load chain information over an HTTP API
        const chainData = window.evmChains.getChain(chainId);
        // document.querySelector("#network-name").textContent = chainData.name;

        // Get list of accounts of the connected wallet
        const accounts = await web3.eth.getAccounts();

        // MetaMask does not give you all accounts, only the selected account
        this.selectedAccount = accounts[0];
        this.$q.notify({
          message: `Wallet connected: ${this.selectedAccount}`,
          timeout: 700
        })

        // document.querySelector("#selected-account").textContent = selectedAccount;

        // Get a handl
        // const template = document.querySelector("#template-balance");
        // const accountContainer = document.querySelector("#accounts");

        // Purge UI elements any previously loaded accounts
        // accountContainer.innerHTML = '';

        // Go through all accounts and get their ETH balance
        const rowResolvers = accounts.map(async (address) => {
          const balance = await web3.eth.getBalance(address);
          // ethBalance is a BigNumber instance
          // https://github.com/indutny/bn.js/
          const ethBalance = web3.utils.fromWei(balance, "ether");
          const humanFriendlyBalance = parseFloat(ethBalance).toFixed(4);
          console.log('humanFriendlyBalance ', address, humanFriendlyBalance)
          this.userBalances = {'RBTC': humanFriendlyBalance};
          // Fill in the templated row and put in the document
          // const clone = template.content.cloneNode(true);
          // clone.querySelector(".address").textContent = address;
          // clone.querySelector(".balance").textContent = humanFriendlyBalance;
          // accountContainer.appendChild(clone);
        });

        // Because rendering account does its own RPC commucation
        // with Ethereum node, we do not want to display any results
        // until data for all accounts is loaded
        await Promise.all(rowResolvers);

        // Display fully loaded UI for wallet data
        // document.querySelector("#prepare").style.display = "none";
        // document.querySelector("#connected").style.display = "block";
      },
      /**
      * Fetch account data for UI when
      * - User switches accounts in wallet
      * - User switches networks in wallet
      * - User connects wallet initially
      */
      refreshAccountData: async function () {

        // If any current data is displayed when
        // the user is switching acounts in the wallet
        // immediate hide this data
        // document.querySelector("#connected").style.display = "none";
        // document.querySelector("#prepare").style.display = "block";

        // Disable button while UI is loading.
        // fetchAccountData() will take a while as it communicates
        // with Ethereum node via JSON-RPC and loads chain data
        // over an API call.
        // document.querySelector("#btn-connect").setAttribute("disabled", "disabled")
        await this.fetchAccountData(this.provider);
        // document.querySelector("#btn-connect").removeAttribute("disabled")
      },
    }
  })
</script>
{% endblock %}
